<%- include("header") -%>

  <div class="all">
  <div class="box" id="heading">
    <h1><%= whatDay %></h1>
  </div>
  <div class="box" id="heading">
    <h1><%= greeting %></h1>
  </div>
  <div class="box">

    <%newList.forEach(function(items){%>
        <form  action="/delete" method="post">
  <div class="item">
<input type="checkbox" name="checkbox" value="<%=items._id %>"onchange="this.form.submit()"/>
  <p>
    <%=items.name %>
  </p>
</div>
</form>
  <%})%>

  <form class="items" action="/" method="post">
  <input type="text" name="newItem" placeholder="New List" autocomplete="off" />
  <input type="Time" name="sTime" placeholder="Start Time"  />
  <input type="Time"  name="eTime" placeholder="End Time"  />
  <button type="submit" name="submit" value=<%=whatDay%>>+</button>

    </form>
  </div>
</div>
<%- include("foot") -%>
