<%- include("header") -%>

  <div class="all">
  <div class="box" id="heading">
    <h1><%= whatDay %></h1>
  </div>
  <div class="box" id="heading">
    <h1><%= greeting %></h1>
  </div>
  <div class="box">
    <% for(var i=0 ;i<newList.length;i++)  { %>
      <div class="item">
    <p> <input type="checkbox" />
       <%=newList[i] %>
    </p>
  </div>
  <%  } %>
    <form action="/" method="post">
  <input type="text" name="newItem" placeholder="New List" autocomplete="off">
  <button type="submit" name="submit" value=<%=whatDay %>>+</button>
    </form>
  </div>
</div>
<%- include("foot") -%>
